.StyledBox1 {
  display: block;
  width: 350px;
}
.StyledBox2 {
  display: none;
  width: 350px;
}
@media (max-width: 768px) {
  .StyledBox1 {
    width: 100%;
  }
  .StyledBox2 {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .StyledBox1 {
    width: 280px;
  }
  .StyledBox2 {
    width: 280px;
  }
}
@media (min-width: 1400px) {
  .StyledBox1 {
    width: 400px;
  }
  .StyledBox2 {
    width: 400px;
  }
}
.Wrapper {
  width: 100%;
  display: inline-block;
  height: 320px;
}
.Wrapper:hover .StyledBox1 {
  display: none;
}
.Wrapper:hover .StyledBox2 {
  display: block;
}
.Wrapper:hover {
  background-color: #01ACF1;
  transition: 0.5s;
  color: #fff;
}
